# OSX
.DS_Store


# temp files
*~
~$*

# arc files
.arclint
.arcconfig

static/
# IDE
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
#env/
bin/
#build/
build/temp/
develop-eggs/
# dist/
eggs/
# lib/
lib64/
parts/
sdist/
# var/
*.egg-info/
.installed.cfg
*.egg


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml


# Django stuff:
*.log
*.pot
*.mo
media
wui/settings*

#IPython notebook
*.ipynb*


# redis
redis*

# numpy zip
#*.npz

