sudo: required

language: python
python:
  - "3.6"

services:
  - postgresql

addons:
  postgresql: "9.6"

env:
  global:
    - BUILD_ON_TRAVIS=true
  matrix:
    - DJANGO_VERSION=1.11.5 DB=postgresql

install:
  - pip install -r requirements.txt
  - pip install -q Django==$DJANGO_VERSION

before_script:
  - psql -c 'create database travis_ci_db;' -U postgres
  - python manage.py makemigrations

script:
  - python manage.py migrate
  - python manage.py test
